<!-- <div class="genre-container">
    <div><h3>{{ data.Name }}</h3></div>
    <div>
      <mat-dialog-content>
        {{ data.Description }}
      </mat-dialog-content>
    </div>
    <div class="close-btn">
        <button mat-icon-button aria-label="Close the genre dialogue" mat-dialog-close color="primary">
        Close
        </button>
    </div>
</div> -->

<div class="card">
    <h1>
      {{ data.Name }}
    </h1>
  
    <div class="details">
      <p>
        {{ data.Description }}
      </p>
    </div>
</div>
