<div class = "main-page">

  <button 
    (click) = "openUserLoginDialog()"
    class='btn btn-cube btn-cube-hover-left'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Log In
    </div>
  </button>
  <!-- <div class = "positionLogo"> -->
    <!-- <svg-icon src = "../assets/third.svg" class = "logo3"></svg-icon>
    <svg-icon src = "../assets/second.svg" class = "logo2"></svg-icon> -->
    <svg-icon src = "../assets/first.svg" id = "logo" class = "logo1"></svg-icon>
  <!-- </div> -->
  <button
    (click) = "openUserRegistrationDialog()"
    class='btn btn-cube btn-cube-hover-right'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Sign Up
    </div>
  </button>
</div>
