<div class = "main-page">
  <button (click) = "openUserLoginDialog()"
    class='btn btn-cube btn-cube-hover-left'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Log In
    </div>
  </button>
  <h3>Put Logo Here</h3>
  <button
    (click) = "openUserRegistrationDialog()"
    class='btn btn-cube btn-cube-hover-right'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Sign Up
    </div>
  </button>
</div>
