$fallbackColor: rgb(41, 92, 127);
$bodyColor: #212121;
$bg_gradient: linear-gradient(
  90deg,
  rgba(0, 126, 143, 1) 0%,
  rgba(172, 179, 0, 1) 87%,
  rgba(155, 161, 0, 1) 99%
);

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h3 {
    color: aliceblue;
    margin: 2rem;
  }
}

button:hover {
  cursor: pointer;
}

.btn {
  display: block;
  padding: 1.5rem 2rem;
  border: 0;
  color: aliceblue;
  letter-spacing: 0.05rem;
  font-weight: bold;
  font-size: 16px;
}

.btn-cube {
  position: relative;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $fallbackColor;
    background: $bg_gradient;
  }
  .bg-right,
  .bg-left {
    background: $fallbackColor;
    background: #58595b;
    .bg-inner {
      left: 0;
    }
  }
  .bg {
    .bg-inner {
      transition: all 0.45s ease-in-out;
    }
  }
  .bg-inner {
    background: $bodyColor;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
  }
  .text {
    position: relative;
    z-index: 2;
  }

  &.btn-cube-hover:focus,
  &.btn-cube-hover:hover {
    .bg {
      .bg-inner {
        right: 100%;
      }
    }
    .bg-left {
      transform: skew(0, 45deg);
    }
    .bg {
      .bg-inner {
        left: 100%;
      }
    }
    .bg-right {
      transform: skew(0, -45deg);
    }
  }
}

#logo {
  width: 500px;
}
