$fallbackColor: rgb(172, 179, 0);
$bodyColor: #212121; 
$bg_gradient: linear-gradient(90deg, rgba(0, 126, 143,1) 0%, rgba(172, 179, 0,1) 87%, rgba(155, 161, 0,1) 99%);

.main-page{
  display:flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  h3{
      color:aliceblue;
      margin:2rem;
  }
}

button:hover{
  cursor:pointer;
}

.btn{
    display: block;
    padding: 1.5rem 2rem;
    border: 0;
    color: aliceblue;
    letter-spacing: 0.05rem;
    font-weight: bold;
    font-size: 16px;
}

.btn-cube {
  position: relative;
  .bg-top {
      position: absolute;
      height: 75px;
      background: $fallbackColor;
      background: $bg_gradient;
      bottom: 100%;
      left: 37.5px;
      right: -37.5px;
      transform: skew(-45deg, 0);
      margin: 0;
      .bg-inner{
          bottom: 0;
      }
  }
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $fallbackColor;
    background: $bg_gradient;
  }
  .bg-right {
    position: absolute;
    background: $fallbackColor;
    background: rgba(242, 255, 176,1);
    top: -37.5px;
    z-index: 0;
    bottom: 37.5px;
    width: 75px;
    left: 100%;
    transform: skew(0, -45deg);
    .bg-inner {
      left: 0;
    }
  }
  .bg {
    .bg-inner {
      transition: all 0.5s ease;
    }
  }
  .bg-inner {
    background: $bodyColor;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
  }
  .text {
    position: relative;
    z-index: 2;
  }

  &.btn-cube-hover-left:focus,
  &.btn-cube-hover-left:hover {
    .bg {
      .bg-inner {
        left: 100%;
      }
    }
    .bg-right {
      width: 20px;
      top: -10px;
      bottom: 10px;
    }
    .bg-top {
      height: 20px;
      left: 10px;
      right: -10px;
    }
  }

  &.btn-cube-hover-right:focus,
  &.btn-cube-hover-right:hover {
    .bg {
      .bg-inner {
        right: 100%;
      }
    }
    .bg-right {
      width: 20px;
      top: -10px;
      bottom: 10px;
    }
    .bg-top {
      height: 20px;
      left: 10px;
      right: -10px;
    }
  }
}

#logo{
  width: 500px;
}
