<div class="main-page">
  <button (click)="openUserLoginDialog()" class="btn btn-cube btn-cube-hover">
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg bg-left">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Log In</div>
  </button>
  <!-- <img id="logo" src="../assets/first.png" /> -->
  <h1 id="logo">Welcome to Syfy</h1>
  <button
    (click)="openUserRegistrationDialog()"
    class="btn btn-cube btn-cube-hover"
  >
    <div class="bg-top">
      <div class="bg-inner"></div>
    </div>
    <div class="bg bg-right">
      <div class="bg-inner"></div>
    </div>
    <div class="bg">
      <div class="bg-inner"></div>
    </div>
    <div class="text">Sign Up</div>
  </button>
</div>
