.updateContainer {
  margin: 6rem 2rem;
  padding: 8rem 1rem;
  background-color: #00d9ff4f;
  border-radius: 5%;
  box-shadow: 2px 2px 7px 0px #cfcf00;
}

.mat-card-header {
  justify-content: center;
}

.card {
  margin: 0.5rem;
}

.formContainer {
  color: azure;
  .mat-form-field {
    margin-right: 25px;
    margin-top: 40px;
  }
}

.updateBtn {
  button {
    margin-top: 20px;
  }
}

.favMoviesHeader {
  color: azure;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 0;
}

.no-favs {
  text-align: center;
  color: #cfcf00;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 4rem 2rem;
}

.card-title {
  font-size: 24px;
  padding: 5px;
  color: azure;
}
.favMoviesBtns {
  button {
    margin: 0 0.5rem;
    padding: 0.2rem 0.4rem;
  }
}
.favMoviesBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border-radius: 0;
    margin: 0;
    background: transparent;
    color: aliceblue;
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.7s ease-in;
    -moz-transition: all 0.7s ease-in;
    -ms-transition: all 0.7s ease-in;
    -o-transition: all 0.7s ease-in;
    transition: all 0.7s ease-in;
    overflow: hidden;

    &:after {
      position: absolute;
      content: "";
      background: #cfcf00;
      z-index: -1;
      -webkit-transition: all 0.29s ease-out;
      -moz-transition: all 0.29s ease-out;
      -ms-transition: all 0.29s ease-out;
      -o-transition: all 0.29s ease-out;
      transition: all 0.29s ease-out;
      opacity: 0;
    }
    &:hover {
      color: rgba(15, 15, 15, 1);
      &:after {
        opacity: 1;
      }
    }
  }
}
.slide-fromTop {
  &:after {
    width: 100%;
    height: 1%;
    left: 0;
    top: 0;
  }
  &:hover:after {
    height: 100%;
  }
}

.mat-icon {
  color: #cfcf00;
  font-size: 2rem;
}
.card > mat-icon:hover {
  transition: 0.5s;
  cursor: pointer;
  transform: scale(1.2);
}

img {
  max-height: 400px;
  max-width: 270px;
}

.unfaved {
  display: none;
}
